:root{
    --verde:#00A149;
    --blanco:#fff;
    --rojo:#881014;
    --oscuro:hsl(0, 0%, 0%);
    --titulos:'Arima Madurai',cursive;
    --parrafos:'Mulish', sans-serif;
}

html{
    box-sizing: border-box;
    /*1rem= 10 px*/
    font-size: 62.5%;
}
body{
    font-size: 1.7rem;
}

*,*::after, *::before{
    box-sizing: inherit;
}

/*globales*/
.contenedor{
    max-width: 10rem;
    margin: 0 auto;
    width: 120%;
}

h1,h2{
    font-family: var(--titulos);
}
h3, p, a{
    font-family: var(--parrafos);
}

/*encabezado*/
.contenedor-navegacion{
    background-color: var(--oscuro);
}

.contenido-navegacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1, .navegacion a {
    color: var(--blanco);
}

/*video*/
.contenido-header{
    position: relative;
}

.contenido-header::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,.5);
}

.texto-encabezado{
    position: absolute;
    z-index: 2;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto-encabezado{
    color: var(--negro);
    font-size: 3rem;
}
video{
    width: 100%;
    height: 100%;
}